.header {
	background-color: #FFFFFF;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
}

.header_logo {
	display: block;
	background-image: url("../images/logo.png");
	height: 100%;
	max-width: 142px;
	width: 100%;
	margin-left: 20px;
}
