.filters {
	color: white;
	height: 70px;
	width: 100%;
	border: 1px #DDDDDD solid;
	border-radius: 4px;
}

.filters > button {
	font-size: 18px;
	background-color: #FF5A5F;
	color:  #FFFFFF;
	height: 48px;
	width: 20%;
	borders: none;
	border-radius: 4px;
	position: relative;
	margin-left: 80%;
	right: 30px;
	/*margin-top: 10px;*/
	margin-top: -82px;
}

.filters > button:hover {
	opacity: 90%;
}

.locations, .amenities {
	height: 100%;
	width: 25%;
	/*margin-left: 5%;*/
	position: relative;
}

.locations {
	border-right: 1px solid #DDDDDD;
	margin-top: 0.5%;
}

h3 {
	font-weight: 600;
	padding-top: 15px;
}

h4 {
	font-weight: 400;
	font-size: 14px;
}

/*.locations-amenities {
	display: ruby;
}*/

h3, h4 {
	color: #484848;
	margin: 0px;
	margin-left: 20%;
}

h2 {
	font-size: 16px;
	color: #484848;
}

ul > h2 {
	text-align: left;
}

.popover {
	/*display: block;*/
	display: none;
	background-color: #FAFAFA;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	padding: 8%;
	position: relative;
	z-index: 1;
}

.amenities {
	/* margin: -8% auto; */
	margin-left: 25%;
	margin-top: -7%;
}

/*.popover:hover {
	display: none;
}*/